@using System.Diagnostics
@using Application.Models



<span class="@CssClassStyle">
    @if (TreeNodes != null)
    {
        @foreach (TreeNode treeNode in TreeNodes)
        {
            //Det skall till någon if här, som tar bort ej expanderande träd
            //Det skall till en span här, som ritar in rätt antal tab baserat på nästa objekts level.
            <button class="@CssClassStyle" @onclick="@(() => MyCallback.InvokeAsync("Hello from ChildComponent" + @treeNode.Name))">
            @treeNode.Name
            </button>
            <br />
        }
    }
</span>



@code {
    [Parameter]
    public string CssClassStyle { get; set; }
    public List<TreeNode> TreeNodes { get; set; }
    //[Parameter]
    //public Action ActionEventCallback { get; set; }
    [Parameter]
    public EventCallback<string> MyCallback { get; set; }

    //public void CallbackClick(string tmp)
    //{
    //    Debug.WriteLine($"In TreeView2Component: {tmp}");
    //    ActionEventCallback.Invoke();
    //}

    public void UpdateState()
    {
        InvokeAsync(StateHasChanged);
        //Debug.WriteLine($"UpdateState körs i TreeView2Component ");
    }
}
